[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "plover-di-cts"]
	path = plover-di-cts
	url = https://github.com/didoesdigital/steno-dictionaries.git
